{% extends 'accounts/main.html'%}
{%block content%}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <form action="" method="POST">
                 {%csrf_token%}
                 {{formset.management_form}}
                 <h4>Place order:</h4>
                 <hr>
                 {%for form in formset%}
                    {{form}}
                    <hr>
                 {% endfor %}
                <input type="submit" name="Submit">
            </form>
                    
            </div>
        </div>
    </div>

{%endblock%}